.icon1 {
  width: 3rem;
  height: 3rem;
  color: white;
}

.icon2 {
  width: 3rem;
  height: 3rem;
  color: white;
}

.icon3 {
  width: 3rem;
  height: 3rem;
  color: white;
}

.icon4 {
  width: 3rem;
  height: 3rem;
  color: white;
}
