* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.3;
}

input,
button {
  font-size: 1em;
}

.layout {
  display: grid;
  height: 100vh;
  min-width: 320px;
  max-width: 60vw;
  grid-template-rows: 80px auto 80px;
  margin: 0 auto;
}

.layout header {
  grid-row: 1 /2;
  background-image: linear-gradient(
    to left,
    #da7800,
    #d98115,
    #d98a23,
    #d89230,
    #d89a3d
  );
  text-align: center;
}

.layout main {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  background-color: #f0b03a;
  overflow-y: scroll;
}

.layout footer {
  display: flex;
  grid-row: 3 / 4;
  background-image: linear-gradient(
    to left,
    #da7800,
    #d98115,
    #d98a23,
    #d89230,
    #d89a3d
  );
  justify-content: center;
  flex-direction: row;
}

.profilpic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.box1 {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}

.box2 {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}

.box3 {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}

.box4 {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}

.mainbox1 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: black;
  margin: 20px;
  background-color: #d89a3d;
  justify-content: center;
  align-items: center;
}

.tag1 {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
  justify-content: space-evenly;
  align-items: center;
}

.mainbox2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: rgb(216, 154, 61);
  position: relative;
}

.tag2 {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
  justify-content: space-evenly;
  align-items: center;
}

.mainbox3 {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 20px;
  background-color: #d89a3d;
}

.tag3 {
  display: grid;
  list-style: none;
  flex-direction: row;
  padding: 0px;
  justify-content: space-evenly;
  align-items: center;
}

.mainbox4 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #d89a3d;
  position: relative;
}

.tag4 {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
  justify-content: space-evenly;
  align-items: center;
}

.itemh {
  grid-column: 1 / 3;
}

.tagitem1 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10%;
  grid-column: 1;
  grid-row: 2;
}
.tagitem2 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10%;
  grid-column: 2;
  grid-row: 2;
}
.tagitem3 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10%;
  grid-column: 1;
  grid-row: 3;
}
.tagitem4 {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10%;
  grid-column: 2;
  grid-row: 3;
}
.button {
  cursor: pointer;
}
